<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "faye" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      function CloseIt(){
      $.ajax({
              url:"<%= chats_logout_path %>",
              type:'POST',
              async: false,
              datatype:'json',
              traditional:true,
              data:{
              },
              timeout: 5000,
        });
      }
    </script>
  </head>
  <body>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
      var i;
      var n=70;
      for(i=0;i<n;i++){
        var width = parseInt($(window).width())+100;
        var height = parseInt($(window).height())+100;
        var x=Math.floor((Math.random()*width)-150);
        var y=Math.floor((Math.random()*height)-150);
        var w=Math.floor((Math.random()*400)+100);
        var h=Math.floor((Math.random()*400)+100);
        var l=-1;
        bc= Math.floor((Math.random()*12500670)+6579300).toString(16);
        bc = ("000000" + bc).slice(-6);
        brc = parseInt(bc, 16) - parseInt('000015', 16);
        var rad=Math.floor(h/2);
        $("body").append('<div class="bk" style="position:absolute;width:'+w+'px;height:'+h+'px;left:'+x+'px;top:'+y+'px;z-index:'+l+';background-color:transparent;border-radius:'+rad+'px;box-shadow: 1px 1px 20px #757575;border:1px solid #e5e5e5;"></div>');
        }
  </script>
</html>
